
<h1><%= @cocktail.name %></h1>
<%= cl_image_tag @cocktail.photo, height: 300, width: 400, crop: :fill %>
<% @cocktail.doses.each do |dose| %>
<h2> <%=  dose.ingredient.name %> | <%= dose.description %> </h2>
<p><%= link_to 'Delete Dose', cocktail_doses_path(@cocktail), :class =>"fa fa-trash destroy_dose", method: :delete, data: { confirm: 'Are you sure?' } %> </p>
<hr>
<% end %>
<%= link_to "Add a Dose", new_cocktail_dose_path(@cocktail), :class =>"cocktail-button btn" %>
